.about{
    padding-bottom: 4.8rem;
    /* background-color: red; */
    width: 100%;
}
.about_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro{
    /* border: 1px solid red; */
    /* padding: 1rem; */
    margin: 1rem 0;
}
.introquote{
    font-size: 1.8rem;
    color: #8a2be2;
    text-align: center;
}
.about_photo{
    height: 30rem;
}
.about_photo img{
    height: 30rem;
    border-radius: 50%;
}
.about_info{
    font-size: 1.5rem;
}
.info_name{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: tomato;
    font-weight: 600;
}
@media only screen and (max-width:720px){
    .about_top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about_photo{
       display: none;
    }
}